/* <!-- ----------General------------------- --> */

    * {
        margin: 0;
        padding: 0;
    }
    figure {
        width: 100%;
        margin: 0%;
      }
    /* ---------------------------Template---------------------------------------------- */
    .heading {
        /* border:2px solid red; */
        width: 100%;
        height: 50px;
    }

    body {
        /* background: url("http://thecodeplayer.com/uploads/media/bluebg.jpg")
                center center fixed; */
        background-size: cover;
        /* background: linear-gradient(to right, #2F0D30 0%, #9C2DA3 50%, #290E27 100%); */
        /* background-color: #f3e5f5 */
        /* background-color: #e8f5e9; */
        background-color: #e0e0e0
    }

    .template {
        /* background-color: black; */
        /* height: 530px; */
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
        /* position: absolute; */
        /* border: 2px solid red; */
        background-image: url("pictures/pexel1080.jpg");
        background-size: cover;
    }

    .template>div {
        /* border: 2px solid blue; */
        width: 90%;
        display: flex;

    }

    .template>div>div:first-child {
        /* border: 2px solid red; */
        color: white;
        flex: 74%
    }

    .template>div>div:first-child h1 {
        margin-top: 100px
    }

    .card {
        flex: 26%;
        margin-bottom: 30px;
        height: 529px;
        opacity: 0;

    }


    .myButton {
        color: black;
        font-size: 18px;
        line-height: 12px;
        padding: 11px;
        border-radius: 5px;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        background: #F2FF40;
        display: inline-block;
        margin-top: 80px;

    }

    .myButton:hover {
        background: #212121;
        color: white;
        transition: all 0.4s ease 0s;
    }

    .myButton:active {
        background: #144E75;
    }

    /* ------------------------------Partners--------------------------------------------------------- */
    .partner {
        border: 1px solid #bdbdbd;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: white;

    }

    .partner div {
        /* border: 1px solid blue; */
        height: 150px;
        width: 150px;

    }

    .partner div:first-child {
        font-size: 30px;
        line-height: 60px;
        padding-top: 8px;
        border-right: 1px solid #bdbdbd;
    }

    .partner div img {
        height: 100%;
        width: 100%
    }

    /* * -----------------------------Partner Mobile-------------------------------------------------------------- */
    .mobile-partner {
        border: 1px solid #bdbdbd;
        height: 120px;
        width: 100%;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    .mobile-partner div {
        /* border: 1px solid blue; */
        height: 120px;
        /* width: 120px; */
        display: inline-block;
        margin-left: 100px;

    }

    .mobile-partner div img {
        height: 100%;
        /* width: 100% */
    }

    /* -------------------------------------------------------------------------------------------------------- */

    h3 {
        margin-bottom: 100px;
        margin-top: 100px;
        font-family: anton;
    }

    p {
        color: #757575;
        font-size: 18px;
    }

    /* -------------------------------------AUTO TEXT----------------------------------------------------- */

    .line-1 {
        height: 50px;
        font-size: 180%;
        /* text-align: center; */
        white-space: nowrap;
        overflow: hidden;
        z-index: 100;
        /* align-self: center; */
        /* border: 2px solid blue; */
        margin-top: 100px;
    }

    /* Animation */

    .anim-typewriter {
        animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 24em;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, 0.75);
        }

        to {
            border-right-color: transparent;
        }
    }

    /* ----------------------------------FORM------------------------------------------------------- */


    h1,
    h2 {
        margin: 0;
    }

    ::-webkit-input-placeholder {
        text-align: right;
        font-style: italic;
        color: #12d32c;
        font-size: 13px;
    }

    ::-moz-placeholder {
        text-align: right;
        font-style: italic;
        color: #12d32c;
        font-size: 13px;
    }

    svg {
        width: 110px;
        height: 120px;
        float: right;
        margin-top: -55px;
    }

    .button {
        border: none;
        border-radius: 2px;
        color: #fff;
        height: 36px;
        padding: 0px 15px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        line-height: 36px;
        vertical-align: middle;
        font-family: "Roboto", sans-serif;
    }

    i.material-icons {
        font-size: 18px;
    }

    .input:focus {
        outline-width: 0px;
    }

    .input:invalid {
        box-shadow: none;
    }



    .card.end {
        padding-bottom: 0;
    }

    .card.end form {
        display: none;
    }

    .header {
        height: 150px;
        background-image: linear-gradient(180deg, #424242, #212121);
        background-size: 100% 100%;
        color: #fff;
        padding: 10px 15px;
        overflow: hidden;
    }

    .header h2 {
        font-size: 28px;
        font-weight: 300;
    }

    .header p {
        padding-right: 80px;
        color: #bdbdbd;
    }

    /* Form styling */

    form {
        padding: 0 15px;
    }

    .input {
        border-width: 0 0 1px 0;
        border-color: #ccc;
        border-style: solid;
        width: 100%;
        padding: 10px 5px 10px 0;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }

    .input-wrap {
        position: relative;
        margin: 20px auto 0;
    }

    .input-wrap:first-child {
        margin-top: 0;
    }

    /* label {
        top: 25px;
        position: absolute;
        left: 35px;
        transition: all 0.8s ease-in-out;
        color: #ccc;
      } */

    i {
        position: relative;
        left: 0px;
        top: 25px;
        transition: all 0.8s ease-in-out;
        color: #757575;
    }

    /* .button i {
            top: 0;
            margin-right: 15px;
        } */

    i.active {
        top: 10px;
        width: 100%;
        height: 100%;
        color: #673ab7;
        transition: all 0.8s;
    }

    label.active {
        top: 10px;
        transition: all 0.8s;
        color: #ff4081;
    }

    i.invalid,
    label.active.invalid {
        color: #f44336;
    }

    .active textarea,
    .not textarea {
        border-bottom: none;
    }

    .input-wrap:before {
        content: " ";
        position: absolute;
        font-size: 16px;
        right: 0;
        width: 20px;
        height: 20px;
        -webkit-padding-before: 4px;
        -webkit-padding-end: 3px;
        -webkit-padding-after: 2px;
        -webkit-padding-start: 4px;
        text-align: center;
        top: 20px;
        background-color: transparent;
        border-radius: 50%;
        color: #fff;
        font-family: "Material Icons";
        transform: scale(0) rotate(90deg);
        transform-origin: center;
        transition: all 0.4s;
    }

    .input-wrap.valid:before {
        content: "\e5ca";
        background-color: #4caf50;
        transform: scale(1) rotate(0deg);
        transition: all 0.8s;
    }

    .input-wrap.invalid:before {
        content: "\e14c";
        background-color: #f44336;
        transform: scale(1) rotate(0deg);
        transition: all 0.8s;
    }

    .input-wrap.active:after,
    .input-wrap.not.active:after {
        border-bottom: 2px solid #ff4081;
        bottom: 0;
        left: 0;
        content: "";
        height: 0;
        position: absolute;
        width: 101%;
        animation-name: bord;
        animation-fill-mode: forwards;
        animation-duration: 0.8s;
        animation-timing-function: ease;
    }

    .input-wrap.not:after {
        border-bottom: 2px solid #ff4081;
        bottom: 0;
        left: 0;
        content: "";
        height: 0;
        position: absolute;
        width: 100%;
        animation-name: bords;
        animation-fill-mode: forwards;
        animation-duration: 0.8s;
        animation-timing-function: ease;
    }

    .input-wrap.active.invalid:after {
        border-bottom: 2px solid #f44336;
        bottom: 0;
        left: 0;
        content: "";
        height: 0;
        position: absolute;
        width: 100%;
        animation-name: bord;
        animation-fill-mode: forwards;
        animation-duration: 0.8s;
        animation-timing-function: ease;
    }

    /*
      input[type="checkbox"] {
        text-indent: -9999px;
        vertical-align: text-top;
      }

      [type="checkbox"] + label:before,
      [type="checkbox"] + label:after {
        content: '';
        left: 0;
        position: absolute;
        z-index: 1;
      }

      [type="checkbox"]:not(:checked) + label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 3px;
        top: 0px;
        transform: scale(0);
        transform-origin: 100% 100%;
        transition: all 0.8s;
      }

      [type="checkbox"]:not(:checked) + label:after {
        height: 12px;
        width: 12px;
        background-color: #fff;
        border: 1px solid #aaa;
        top: 3px;
        left: 4px;
        transition: all 0.8s;
        z-index: 0;
      }

      [type="checkbox"]:checked + label:before {
        content: '\e876';
        top: 0px;
        left: 3px;
        font-size: 16px;
        color: #fff;
        font-family: "Material Icons";
        transform: scale(1);
        transition: all 0.8s;
      }

      [type="checkbox"]:checked + label:after {
        top: 3px;
        left: 4px;
        width: 12px;
        height: 12px;
        border: 1px solid #ff4081;
        background-color: #ff4081;
        transition: all 0.8s;
        z-index: 0;
      }

      input[type="checkbox"] + label {
        position: static;
        font-size: 12px;
        color: #757575;
        font-weight: 500;
      } */
    /* End styles */

    .card .ending {
        visibility: hidden;
        display: flex;
        height: 0;
        transition: visibility 0.8s linear;
    }

    .card.end .ending {
        height: 100%;
        min-height: 64px;
        visibility: visible;
        transition: visibility 0.8s linear;
    }

    .ending div:first-child {
        width: 0;
    }

    .end .ending div:first-child {
        background: #673ab7;
        width: 85px;
        transition: all 0.8s linear;
    }

    .ending h2 {
        font-size: 20px;
        text-align: center;
        font-weight: 300;
        padding-top: 10px;
    }

    .ending i {
        transform: scale(0) rotate(360deg);
        left: 5px;
        transition: all 0.8s ease;
    }

    .ending.showed i {
        color: #fff;
        font-size: 60px;
        top: 0;
        transform: scale(1) rotate(0deg);
        transition: all 0.8s ease;
    }

    @keyframes bord {
        0% {
            width: 0%;
        }

        100% {
            width: 101%;
        }
    }

    @keyframes bords {
        0% {
            width: 100%;
        }

        100% {
            width: 0%;
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .button {
        background: #388e3c;
        width: 100%;
        cursor: pointer;
    }

    .button:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        transition: all 0.4s ease 0s;
    }

    /* --------------------------ＷＨＡＴ ＷＥ ＤＯ ＆ ＷＥ ＤＯ ＩＴ ＷＥＬＬ------------------------------------------------------- */

    .flexbox {
        display: flex;
        /* border:2px solid blue; */
        margin-bottom: 150px;
    }

    .leftbox {
        height: 250px;
        /* border: 2px solid red; */
        flex: 60%;
        align-self: center;
    }

    .rightbox {
        /* border: 2px solid red; */
        flex: 40%;
    }

    .leftbox h4 {
        text-align: center;
        font-family: monospace;
        opacity: .8
    }

    .leftbox p {
        text-align: center;
        /* font-size:18px;   */
    }

    .rightbox img {
        float: right;
    }

    /* ---------------------------------FEATURES------------------------------------ */

    .features {
        display: flex;
        justify-content: space-around;
        /* border:2px solid red */
    }

    .features img {
        height: 180px;
        width: 180px;
    }

    .features div {
        /* border:2px solid blue; */
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* -----------------------------WHY CHOOSE US--------------------------------------------- */

    .whychooseus {
        display: flex;
        justify-content: space-around;
        /* border:2px solid red */
    }

    .whychooseus div {
        /* border:2px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whychooseus img {
        height: 180px;
        width: 180px;
    }

    /* ------------------------------TECHNOLOGY------------------------------------------ */

    .technology {
        display: flex;
        justify-content: space-around;
    }

    .technology img {
        height: 25%;
        width: 20%;
    }

    /* -------------------------------CLIENT -------------------------------------------------------- */
    .clients {
        border: 2px solid black;
        width: 100%;
        height: 500px;
        background-image: url("pictures/d8t3tu-efade148-3fde-403f-afb6-498053a7a100.jpg");
        overflow: hidden;
        display: flex;
        justify-content: center
    }

    .clients>div {
        /* border: 2px solid blue; */
        height: 100%;
        width: 500px;
        border-radius: 50%;
        /* margin: auto; */
        background-color: white;
        /* overflow: hidden; */
    }

    .clients>div>div {
        /* border: 2px solid red; */
        height: 353.5534px;
        width: 353.5534px;
        margin: auto;
        margin-top: 73.2233px;
        overflow: hidden;
    }

    .clients>div>div img {
        width: 13%;
        height: 10%;
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .clients>div>div p {
        font-size: 20px;
        line-height: 34px;
        color: #9e9e9e;
        text-align: center;
        font-family: cursive;
        margin-top: 20px;

    }

    .clients ul li {
        display: none
    }

    .clients .clientactive {
        display: block
    }


    /* .clients>div>div p:last-child{
        color: green;

    } */
    /* --------------------------------PORTFOLIO------------------------------------------------------------ */

    .portfolio {
        /* border:2px solid red; */
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .portfolio img {
        height: 200px;
        width: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        cursor: pointer;
    }

    .portfolio img:hover {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 1);
        transition: box-shadow .3s;
    }

    /* -----------------------------FOOTER---------------------------------------------- */

    footer {
        background-color: black;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        color: wheat;
    }

    .fa {
        padding: 14px;
        font-size: 26px;
        width: 52px;
        text-align: center;
        text-decoration: none;
        margin: 25px 2px;
        border-radius: 50%;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: black;
        color: white;
    }

    .fa-twitter {
        background: black;
        color: white;
    }

    .fa-google {
        background: black;
        color: white;
    }

    .fa-linkedin {
        background: black;
        color: white;
    }

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* <!-----------Desktop header------------------ --> */

    .desktopheader {
        /* border: 2px solid red; */
        display: flex;
        height: 100px;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
        margin-top: 7px;

    }

    .desktopheader h3 {
        margin: 0%;
    }

    .desktopheader a {
        color: white;
        font-size: 22px;
    }

    .desktopheader>div:first-child {
        /* border: 2px solid red; */
        height: 100%;
        width: 140px;
        /* position: relative; */
        /* bottom: 20px; */
    }

    .desktopheader img {
        height: 40px;
        width: 40px;
    }

    .desktopheader>div:first-child img {
        height: 100%;
        width: 100%
    }

/* <!-- --------Mobile header--------------------- --> */

    body {
        margin: 0%;
    }

    .mobileheader {
        /* border: 2px solid red; */
        height: 60px;
        width: 100%;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;


    }

    .headericon {
        /* border: 2px solid red; */
        height: 100%;
        width: 100px;
    }

    .mobileheader img {
        /* border: 2px solid red; */
        /* height: 100%; */
        width: 100px;
    }

    /* ------------------------------------------------------ */

    .burger {
        /* border: 1px solid black; */
        height: 35px;
        margin: 20px;
        display: block;
        width: 30px;
        float: right;
        z-index: 999;
    }

    .burger span {
        width: 25px;
        margin-top: 5px;
        border: 2px solid white;
        display: block;
    }

    .burgernew span:first-child {
        margin-top: 15px;
        width: 30px;
        transform: scale(0.9) rotate(45deg);
        transition: transform 0.5s;
    }

    .burgernew span:last-child {
        margin-top: -4px;
        width: 30px;
        transform: scale(0.9) rotate(-45deg);
        transition: transform 0.5s;
    }

    .burgernew span:nth-child(2) {
        display: none;
    }

    /* ------------------------------------------------------- */

    .mydropdown {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0%;
        margin: 0%;
        position: absolute;
        top: 1px;
        width: 100%;
        line-height: 45px;
        display: none;
        z-index: 200;
        background-image: url("pictures/pexels_photo_924825.jpg");
        background-size: cover;
    }

    .mydropdown>li {
        width: 100%;
        border-bottom: 1px solid #616161;
        /* box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25); */
    }

    .mydropdown>li a {
        display: block;
        /* border: 2px solid red; */
        width: 100%;
        height: 45px;
        text-decoration: none;
        font-size: 20px;
        color: #fafafa;
        /* margin-left: 20px; */
        padding-left: 20px;
        font-family: monospace;
    }

    .mydropdown>li a:active {
        /* background-color: black; */
    }

    /* ----------------------------------- */

/* <!-- ---------Image Zoom----------------------- --> */

    .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .myImg:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */

    .scrollmodal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (image) */

    .modal-content {
        margin: auto;
        display: block;
        width: 75%;
        max-width: 75%;
    }

    /* Caption of Modal Image */

    .caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */

    .modal-content,
    .caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    .out {
        animation-name: zoom-out;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(1);
        }

        to {
            -webkit-transform: scale(2);
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0.4);
        }

        to {
            transform: scale(1);
        }
    }

    @keyframes zoom-out {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0);
        }
    }

    /* The Close Button */

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */

    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }

/* <!-- ------Desktop Tablet Mobile------------- --> */

    @media only screen and (min-width: 850px) {
        .mobileheader {
            display: none;
        }
    }

    @media only screen and (max-width: 1300px) {


        .desktopheader>img {
            display: none;
        }

        .partner {
            display: none
        }

        .mobile-partner {
            display: block
        }
    }


    @media only screen and (max-width: 850px) {
        .desktopheader {
            display: none;
        }

        .particle-canvas {
            height: 500px
        }

        .features,
        .whychooseus {
            flex-direction: column;
            align-items: center;
        }

        .features div,
        .whychooseus div {
            width: 60%;
            margin-top: 50px;
        }

        /* --------------Font size-------------------------------------------- */
        h3 {
            font-size: 36px;
            font-family: anton;
        }

        .leftbox h4 {
            font-size: 25px;
        }

        /* ----------------HIDDING---------------------------------------- */

        .template>div {
            width: 90%;
            flex-direction: column;
        }

        .template>div p {
            width: 100%
        }

        .card {
            margin-top: 120px;
            width: 100%
        }

        .heading {
            height: 20px;

        }









    }

    @media only screen and (max-width: 600px) {

        .mobileheader img {
            width: 80px;
        }

        .flexbox {
            flex-direction: column;
        }

        .features div,
        .whychooseus div {
            width: 80%;
        }

        .pricing_table {
            /* display: none; */
            display: flex;
            flex-direction: column;
            margin: 0%;
            align-items: flex-end;
        }

        .pricing_table>li {
            width: 80%;
        }

        .pricing_table>li.active {
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: none;
        }

        /* ---------Font size------------------------------- */
        h3 {
            font-size: 30px;
            /* font-family: fantasy; */
        }

        .leftbox h4 {
            font-size: 26px;
        }

        .clients {}

        .clients>div {
            width: 350px;
            height: 350px;
            margin-top: 75px
        }

        .clients>div>div {
            height: 250px;
            width: 250px;
            margin-top: 50px;
        }

        .clients>div>div p {
            font-size: 15px;
        }
    }

